@font-face {
    font-family: 'SanFrancisco';
    src: url('../fonts/sanfranciscodisplay-regular-webfont.ttf');
}

html{
  color: white;
  background-color: #222;
  font-family: 'SanFrancisco';
}
body{
  margin: 0;
  height: 100%;
}
hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #444;
  width: 80%;
  padding: 0;
}
/*Main Wrapper Styling*/
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-height: 100vh;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  text-align: center;
}
.wrapper > * {
  padding: 10px;
  flex: 1 100%;
  margin: 0;
}
/*Screen Specific Styling*/
@media all and (max-width: 799px){
  .aside {flex: 2 auto;
          max-width: 100%;
          background: black;}
  .bulletin {max-width: 80%;
             width: 100%;
           }
  .main{ width: 100%;
         justify-content: center;}
  .footer-list{
    -webkit-flex-flow: column;
    flex-flow: column;
    display: flex;
    padding: 20px;
  }
  .nav{
    justify-content: space-between;
    padding: 10px;
  }
  .navMenu{
    display: block;
    position: relative;
  }
  .nav-item {display: none;}
  ul.nav-list.display {
    flex-flow: column;
    justify-content: flex-start;
    position: relative;
    left: 0;
    align-items: flex-start;
  }
  ul.nav-list.display li.icon {
   position: absolute;
   left: 0;
   top: 0;
 }
 ul.nav-list.display li {
   float: none;
   display: inline;
 }
 ul.nav-list.display li a {
   display: block;
   text-align: left;
 }
 .search{position: absolute;
         right: 10px;}


  .song-group{
    display: none;
  }
  .song-arrow{
    display: block;
  }
  .top-3{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .song-display{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
}

@media all and (min-width: 800px){
  .main { order: 1;
          flex:  1;
          width: 66%;
          justify-content: flex-end;
        }
  .aside {order: 2;
          max-width: 34%;
          justify-content: center;}

  .footer{order: 3;}
  .footer-list{
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  .nav{
  justify-content: center;
  }

  .navMenu{
    display: none;
  }
  .nav-item {display: block;}
  .search {left: 2%;
           position: relative;}
 .song-group{
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
 }
 .song-arrow{
   display: none;
 }
}
/*Navigation Bar Styling*/
.nav{
  background: #333;
  box-shadow: 0 0 50px black;
  margin: 0;
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  align-content: center;
  position: relative;
}
.nav-list {
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  width: 34%;

}
.nav-item{
  list-style: none;
  font-size: 20px;
}
.search{
  height: 16px;
}

.nav-item:hover{
  list-style: none;
  cursor: pointer;
}
/*Main Body Styling*/
.main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  margin: 0;
  background: #222;
  font-weight: bold;
  text-align: center;
  margin-top: 35px;
}

.main > * {
  flex: 1 auto;
}
/*Main Styling - Bulletins*/
.bulletin {
  max-width: 40%;
  min-width: 265px;
  margin-left: 10px;
  margin-right: 10px;
}
/*Main Styling - Aside Top Songs*/
.aside{
  margin-top: 35px;
}
.song-group{

  -webkit-flex-flow: row;
  flex-flow: row;

  align-items: center;
  font-weight: normal;
  font-size: 12px;
  text-align: left;
}
/*Footer Styling*/
.footer{
  background-color: #222;
  margin: 0;
  font-size: 10px;
  position: relative;

}
.footer-list{
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;


  justify-content: space-around;
  position: absolute;
  top: calc(50% - 12.5px);
  width: 50%;
  left: 20%;
  margin: 0;
}
/* Text Styling */
.title{
  display: block;
  font-size: 20px;
  text-align: left;
}
.title-songs{
  margin-left: 40px;
  margin-top: 32.6px;
}
a{
  color: #0ae;
  text-decoration: none;
}
.song-title, .bulletin-title:hover{
  cursor: pointer;
}
.bulletin-cap{
  font-size: 12px;
  text-align:left;
}
.song-title, .song-caption{
  height: 1em;
  line-height: 1em;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 10px;
}
.song-caption{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  width: 150px;
}
/* Image Styling */
.img-circle{
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.img-large{
  width: 100%;
  box-shadow: 0 0 50px black;
}
